* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f6fa;
     
    
} 

 .cart-container {
    /* max-width: 900px; */
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        width: calc(100vw - 45vw);
    max-width: 100%;
    height: calc(100vw - 75vw);
    
} 

.cart-container h2 {
    margin-bottom: 20px;
    color: #1f2937;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #1f2937;
    color: #ffffff;
    padding: 14px;
    text-align: center;
}

td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;
}


.cart-total {
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #111827;
} 

.cart-container button {
   
    margin: 0 4px;
    cursor: pointer;
 
}

.checkout-btn {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    
}



