* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f6fa;
    
}

/* HEADER */
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0d1117;
    padding: 15px 30px;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
}
.logo span {
    color: #3b82f6;
}

/* SEARCH */
.search-box {
    display: flex;
    width: 50%;
}
.search-box select,
.search-box input {
    padding: 10px;
    border: none;
}
.search-box input {
    flex: 1;
}
.search-box button {
    background: #3b82f6;
    color: #fff;
    border: none;
    padding: 10px 15px;
}

/* ICONS */
.user-area i {
    margin-left: 20px;
    cursor: pointer;
    padding-right: 40px;
}

/* LOGIN */
.login-box {
    position: absolute;
    top: 70px;
    right: 30px;
    background: #fff;
    padding: 15px;
    width: 200px;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.login-box button {
    width: 100%;
    padding: 10px;
    background: #1f2937;
    color: white;
    border: none;
}
.login-box a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #2563eb;
    text-decoration: none;
}

/* NAV */
.menu {
    background: #fff;
    padding: 40px 50px;
    display: flex;
    gap: 50px;
    /* align-items: center; */
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: #333;
}

/* HERO */
.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* CATEGORIES */
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 40px;
    padding: 30px;
}
.cat-card {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.cat-card i {
    font-size: 30px;
    color: #3b82f6;
}
.cat-card p {
    margin-top: 10px;
}

/* FLASH SALE */
.flash-sale {
    padding: 30px;
}
.sale-items {
    display: flex;
    gap: 15px;
}
.product {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}


.user-area {
    position: relative;
}

.user-icon {
    cursor: pointer;
    font-size: 18px;
}

.login-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 220px;
    background: #ffffff;
    padding: 18px 15px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: none;
    z-index: 999;
}

.login-btn {
    width: 100%;
    background: #1f2937;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.create-account {
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    color: #4b5563;
    text-decoration: none;
}

